<launch>
  <!-- Run the detector.py script -->
  <node name="zed_yolo_ros" pkg="zed_yolo_ros" type="detector.py" output="screen">
    <!-- Add parameters to be used by your script within the node namespace -->
    <param name="model_name" value="yolov8l-oiv7" />
    <param name="svo" value="" />
    <param name="img_size" value="416" />
    <param name="conf_thres" value="0.4" />
  </node>
</launch>
